
# Ignore node_modules directory
node_modules
npm-debug.log

# Ignore logs
logs
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore Docker-related files
Dockerfile
docker-compose.yml
.dockerignore

# Ignore build output
dist
build

# Ignore config files
readme.md